annotated_types==0.7.0
cffi==1.16.0
datasets==3.3.0
docstring_parser==0.16
GitPython==3.1.43
GitPython==3.1.44
huggingface_hub==0.28.1
instructor==1.7.2
matplotlib==3.8.4
numpy==1.24.2
openai==1.63.2
peft==0.14.0
pydantic==2.10.6
pytest==8.3.4
PyYAML==6.0.1
PyYAML==6.0.2
Requests==2.32.3
safetensors==0.5.2
sentencepiece==0.2.0
tabulate==0.9.0
torch==2.5.1+cu121
tqdm==4.67.1
transformers==4.48.3
typing_extensions==4.12.2
wget==3.2
